


@{
    ViewBag.Title = "Main Product Page";
}


<h3>Create Product</h3>

@{ Html.RenderAction("Create"); }

<hr />

<h3>List Of Products</h3>

<div id="tablediv">

    @{ Html.RenderAction("GetAll"); }

</div>






